<!-- about -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>About</h2>
            <p>
                Counting in Japanese is hard.
            </p>
            <p>
                The number <span class="text-info">{{ numeral.getNumber() }}</span> is <span class="text-info">{{ numeral.convert(kanjiConversion) }}</span> in Kanji.
            </p>
            <p>
                Or it might appear as <span class="text-info">{{ numeral.convert(kanjiPriceConversion) }}</span> on a Japanese menu.
            </p>
        </div>
    </div>
</div>
<!-- /about -->